{% extends "base.html" %}
{% block content %}
<div>
  <div class="game-stats">
    <h5>Game Stats:</h5>
    <h6>Timer:<span class='text-white bg-info' id="timer"></span> <span id="timer-expired">Time is up!</span></h6>
    <h6>High Score: 
      <b class="text-info">{{ high_score }}</b> 
      in <span class="text-info">{{ play_count }}</span> plays
    </h6>
    <h6>Current Score:<span class="text-info" id="score-count">0</span></h6>
</div>
<hr>

  <table class="table table-sm table-bordered mx-auto">
    <tbody>
      {% for x in range(0,5) %}
      <tr class="table-info">
        {% for y in range(0,5) %}
          <td class="text-center">
            {{game_board[x][y]}}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <form action="" class="form-inline" id="word-form">
    <div class="form-group mb-2">
      <label for="word">Enter Word:</label>
      <input type="text" class="form-control" id="word-input" name='word-input' placeholder="Enter word">
    </div>
    <button class="btn btn-info mb-2">Submit</button>
  </form>
  <p class="results-msg"></p>
  <hr>
  <h6>Matched Words:</h6>
  <ul class="matchingWords"></ul>
</div>

{% endblock %}
<!-- <script src="{{url_for('static', filename='scripts.js')}}"></script> -->